.header h1{
    color: rgb(255, 255, 255);
    background-color:brown;
    display: flex;
    align-items: center;
    font-family:"Aventi";
    gap:30px; 
    font-size:3vw;
}

.header nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-color:brown;
    color: white;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 8%;
    
}