.Section h1{
    color: rgb(255, 251, 0);
    text-align: center;
}

.Section h2{
    text-align: center;
    color:white;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.Section h3{
    color: rgb(255, 3, 159);
    text-align: center;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}