.Footer nav{
    background-color:brown; 
    color: white;
    padding: auto;
}

.Footer button {
    text-transform: uppercase;
    color: black;
    font-size: larger;
    margin: 0.5%;
}

.Footer p{
    text-align: center;
}

.Footer h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    color: rgb(255, 255, 255);
}